target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Intellij ###
/shelf/
/workspace.xml

### NOSSO PROJETO ###
.github/**
.git
.env
